<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ '编辑篇章故事' if topic else '新增篇章故事' }}</title>
    {% include 'system/common/header.html' %}
      {{ ckeditor.load(version="4.22.1") }}
    <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.js') }}"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/layer/3.5.1/layer.js"></script>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="{{ url_for('system.topic.save' if not topic else 'system.topic.update', id=topic.id if topic else '') }}" method="post" enctype="multipart/form-data">
            <div class="layui-form-item">
                <label class="layui-form-label">篇章故事标题</label>
                <div class="layui-input-block">
                    <input type="text" name="title" required lay-verify="required" placeholder="请输入篇章故事标题"
                           autocomplete="off" class="layui-input" value="{{ topic.title if topic else '' }}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">篇章故事链接</label>
                <div class="layui-input-block">
                    <input type="text" name="link" required lay-verify="required|url" placeholder="请输入篇章故事链接"
                           autocomplete="off" class="layui-input" value="{{ topic.link if topic else '' }}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">封面图片</label>
                <div class="layui-input-block">
                    {% if topic and topic.cover %}
                        <img src="{{ topic.cover }}" alt="封面图片" style="max-width: 200px; margin-bottom: 10px;">
                    {% endif %}
                    <input type="file" name="cover" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">篇章故事内容</label>
                 <div class="layui-input-block">
                    {{ ckeditor.create(name='content', value=topic.content) }}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否开启</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="enable" lay-skin="switch" lay-text="开启|关闭" value="1"
                           {% if not topic or topic.enable %}checked{% endif %}>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="pear-btn pear-btn-primary">{{ '保存' if topic else '新增' }}</button>
                    <button type="button" class="pear-btn pear-btn-secondary" onclick="history.back()">取消</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% include 'system/common/footer.html' %}
{{ ckeditor.config(name='content', versionCheck=false) }}
<script>
    layui.use(['form', 'layer'], function () {
        let form = layui.form;
        let layer = layui.layer;

        form.on('submit', function (data) {
            $.ajax({
                url:  {{ url_for('system.topic.save' if not topic else 'system.topic.update', id=topic.id if topic else '') }},
                type: data.form.method,
                data: new FormData(data.form),
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.success) {
                        layer.msg('发布成功', {icon: 1, time: 1000}, function () {
                            window.parent.location.reload();
                        });
                    } else {
                        layer.msg('发布失败：' + res.msg, {icon: 2, time: 2000});
                    }
                },
            });
            return false;
        });
    });
</script>
</body>
</html>
